/* :root {
    --primary: #1290cb;
    --secondary: #59b2dc;
    --tertiary: #CFEAF5;
  --greyfont: #898989;
  } */

.container {
    margin: 10px;
}

.container form {
    display: inline-flex;
    margin: 13px;
    flex-direction: column;
    color: black;
    font-weight: bold;
  }


