:root {
  --primary: #1290cb;
  --secondary: #59b2dc;
  --tertiary: #cfeaf5;
  --greyfont: #898989;
}

a {
  text-decoration: none;
}

ul {
  margin: 18px;
  padding: 1px;
  display: flex;
  list-style: none;
  justify-content: center;
}

ul li {
  background-color: var(--primary);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
}

ul li:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.menu {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.1); */
}

.navItem {
  border-bottom: none;
  color: white;
  display: flex;
  flex-direction: row;
}
