.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #A0D2E9;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.navBar {
    display: flex;
    flex-direction: flex-end;
    justify-content: space-between;
    top: 5rem;
    left: 0px;
    
    font-size: large;
    font-weight: bold;
    color: #000000;
    list-style-type: none;
}

.navItem {
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    border-bottom: none;
    border-radius: 5px;
    background-color: #59B2DC;
    color: white;
    font-size: large;
    font-weight: bold;
}

.navItem:hover:hover {
    background-color: #1290CB;
    color: white;
    transition: 0.5s;
}


/* @media screen and (max-width: 840px) {
    .navItem {
    }
} */

@media screen and (max-width: 720px) {
    .navBar {
    }

    .navItem {
      
    }
}



